streamlit==1.25.0
streamlit-option-menu==0.3.2
streamlit-card==1.0.2 
pillow==9.5.0
matplotlib==3.8.0
plotly==5.15.0
pandas==2.1.0
wordcloud==1.9.2
spacy==3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
nltk==3.8.
